body{
	background: url('../img/fondo.png');
}

.navbar{
	background: #2E2E2E url("https://i.pinimg.com/originals/21/8f/c4/218fc4f0be3a8531aa19fde1118a48bb.jpg");
	 opacity: 2.6;
	 font-family: 'Metal Mania', cursive;
}

.titulo3{
   font-family: 'Metal Mania', cursive;
    margin-left: 350px;
    font-size: 90px;
    position: absolute;
    -webkit-text-stroke: 2px #FFC300
}

.navbar{
	font-family: 'Metal Mania', cursive;
}