body{
	background: url('../img/fondo.png');
}

.navbar{
	background: #2E2E2E url("https://i.pinimg.com/originals/21/8f/c4/218fc4f0be3a8531aa19fde1118a48bb.jpg");
	 /*opacity: 0*/
	 font-family: 'Metal Mania', cursive;
}

.titulo{
    font-family: 'Metal Mania', cursive;
    margin-left: 350px;
    font-size: 90px;
    position: absolute;
    -webkit-text-stroke: 2px #FFC300
}

.navbar{
	font-family: 'Metal Mania', cursive;
}

.btnPlay{
	margin: 300px 570px;
	font-family: 'Metal Mania', cursive;
    font-size: 40px;
    position: absolute;
}

.border-warning{
	  border-width: 2px;
}

.btnPlay:hover{
	
	background:#FFC300 ;
}

.btnMultPlay{
	margin: 400px 510px;
	font-family: 'Metal Mania', cursive;
    font-size: 40px;
    position: absolute;
    -webkit-text-stroke: 2px #FFC300;
}

.btnMultPlay:hover{
	
	background:#FFC300;
}

.btnPuntaje{
	margin-left:590px;
	margin-top:500px;
}

.btnPuntaje:hover{
	background:#FFC300;
}

.btnConfig{
	margin-left:590px;
	margin-top:20px;
}

.btnConfig:hover{
	background:#FFC300;
}

a{
	color:#fff;
	text-decoration: none;
}

a:hover{
	color: #000;
	text-decoration: none;
}