body{
	background: url('/img/medieval.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar{
	background: #2E2E2E url("https://i.pinimg.com/originals/21/8f/c4/218fc4f0be3a8531aa19fde1118a48bb.jpg");
	 /*opacity: 0*/
	 font-family: 'Metal Mania', cursive;
}


.container2{
	font-family: 'Metal Mania', cursive;
	font-size: 10px;
}

/*.container2 .container{
	position: absolute;
	margin: 850px 95px;

}

.container2 .row{
	position: absolute;
	margin: 40px 195px;
	font-size: 25px;
	-webkit-text-stroke: 0.5px #FFC300;
}*/

.punt{
	margin-top: -15px;
	margin-left:630px;
	

}
.punt2{
	
	margin-left:-25px;
	
}

.container2 .ImgPrueba{
	width:1518px;
	height:1000px;
}



.container2 .container .btnPause{
	margin: 5px 570px;
	 font-family: 'Metal Mania', cursive;
	font-size: 20px;
	text-decoration: none;
	color: #FFC300;
}

.container2 .container .btnPause:hover{
	background:#FFC300 ;
	color: #000;
}



.modal-body .btn{
	 font-family: 'Metal Mania', cursive;
	font-size: 30px;
	margin-left: 120px;
}

.modal-body  .btnReturn{
	 font-family: 'Metal Mania', cursive;
	font-size: 30px;
	margin-left: 150px;
}

.modal-body .btn:hover{
	 background:#FFC300 ;
	color: #000;
}

.modal-body .btnSave{
	text-decoration: none;
	color:#fff;
	margin-right: 40px;
}

.modal-body .btnSave:hover{
	text-decoration: none;
	color:#000;
}

.modal-content{
	background: #848484;
}

.modal-header{
	font-family: 'Metal Mania', cursive;
	font-size: 30px;
	color: #000;
	background:#F7D358;
}

#btnReturnToIndex{
	font-family: 'Metal Mania', cursive;
	width: 200px;
	margin-left: 510px;
	padding: 10px;
	border:1px solid #FACC2E;
	color: #FFC300;
	background: #2E2E2E;
	cursor: pointer;
	border-radius: 3px;
	font-size: 20px;
}

#btnReturnToIndex:hover{
	font-family: 'Metal Mania', cursive;
	background: #FFC300;
	color: #000;
}

.nameplay{
	font-family: 'Metal Mania', cursive;
	color: #000;
	border: #FFC300;
	
}

.username,.puntos{
	margin-left: 15px;
	color: #000;
	border: #FFC300;
}


   .buttonSoundMusic{
	-webkit-appearance: none;
	width: 80%;
	height: 15px;
	border-radius: 5px;  
	background: #FFC300;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .buttonSoundMusic::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #1C1C1C;
	cursor: pointer;
  }
  
  .buttonSoundMusic::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04AA6D;
	cursor: pointer;
  }

   h5{
	font-family: 'Metal Mania', cursive;
	font-size: 30px;
	margin-left: 15px;
	color: #000;
	background:#F7D358;
   }