body{
	background: url('../img/fondo.png');
}
.navbar{
	background: #2E2E2E url("https://i.pinimg.com/originals/21/8f/c4/218fc4f0be3a8531aa19fde1118a48bb.jpg");
	 /*opacity: 0*/
	 font-family: 'Metal Mania', cursive;
}

.container2{
	margin: 15px 260px;
	font-family: 'Metal Mania', cursive;
	font-size: 10px;
}

.container2 .punt{
	margin-left:400px;
	font-size: 20px;
}

.container2 .punt2{
	margin-left:10px;
	font-size: 20px;
}

.container2 .ImgPrueba{
	margin-left:15px;
	width:1000px;
	height:500px;
}

.btnPause{
	margin: 5px 570px;
	 font-family: 'Metal Mania', cursive;
	font-size: 30px;
	text-decoration: none;
}

.btnPause:hover{
	background:#FFC300 ;
	color: #000;
	text-decoration: none;
}

.modal-body .btn{
	text-decoration: none;
	 font-family: 'Metal Mania', cursive;
	font-size: 30px;
	margin-left: 120px;
}

.modal-body .btnSave{
	text-decoration: none;
	color:#fff;
}

.modal-body .btnSave:hover{
	text-decoration: none;
	color:#000;
}

.modal-body  .btnReturn{
	 font-family: 'Metal Mania', cursive;
	font-size: 30px;
	margin-left: 150px;
}

.modal-body .btn:hover{
	 background:#FFC300 ;
	color: #000;
	
}

.modal-content{
	text-decoration: none;
	background: #848484;
}

.modal-header{
	font-family: 'Metal Mania', cursive;
	font-size: 30px;
	color: #000;
	background:#F7D358;
}