.titulo2{
    font-family: 'Metal Mania', cursive;
    margin-left: 400px;
    font-size: 90px;
    position: absolute;
    -webkit-text-stroke: 2px #FFC300
}

.tableScore{
	margin: 200px 210px;
	
}
/*dandole bordes a la tabla y sus filas/columnas*/
table, td, th{
	border: 1px solid #19070B;
}

table{
	border-collapse: collapse; /*simplifica los bordes*/
	width: 900px; /*ancho*/
	text-align: center; /*centrar los textos*/
	font-family: 'Metal Mania', cursive;
}

/*acceder añl encabezado,  filas y columnas*/
th, td {
	padding:10px 20px; /*margen interno*/
}

/*fondo para los encabezados*/
th {
	background: #2E2E2E;
	color: #fff;
}

tr{
	background: #FFBF00;
}
/*al pasar el cursor sobre las filas*/
tr:hover {
	background: #F4FA58;
}