* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Metal Mania', cursive;
	background: url('../img/fondo.png');
	opacity: 2.6;;

}

.navbar{
	background: #2E2E2E url("https://i.pinimg.com/originals/21/8f/c4/218fc4f0be3a8531aa19fde1118a48bb.jpg");
	 opacity: 2.6;
	 font-family: 'Metal Mania', cursive;
}

label{
	color: #FFC300;
}

.tituloRegi{
	margin-top: 10px;
	font-family: 'Metal Mania', cursive;
	margin-left: 390px;
	font-size: 70px;
	-webkit-text-stroke: 2px #FFC300;
}

.formulario {
	background: #1C1C1C;
	width: 500px;
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
	border-color: #FFBF00;
}

.formulario input {
	display: block;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
	border:2px solid #FACC2E;
	font-size: 16px;
	font-family: 'Metal Mania', cursive;
}

.formulario textarea {
	min-height: 120px;
	max-height: 300px;
	min-width: 100%;
	max-width: 100%;
}

.formulario input[type="text"]:focus,
.formulario input[type="email"]:focus,
.formulario textarea:focus {
	border:2px solid #4fb560;

}

/*.formulario input[type="submit"] {
	font-family: 'Metal Mania', cursive;
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	border:1px solid #FACC2E;
	color: #FFFF00;
	background: #2E2E2E;
	cursor: pointer;
	border-radius: 3px;
	font-size: 16px;
}

.formulario input[type="submit"]:hover {
	font-family: 'Metal Mania', cursive;
	background: #FFFF00;
	color: #000;
}*/

.formulario #btnRegSesion{
	font-family: 'Metal Mania', cursive;
	width: 200px;
	margin-left: 120px;
	padding: 10px;
	border:1px solid #FACC2E;
	color: #FFC300;
	background: #2E2E2E;
	cursor: pointer;
	border-radius: 3px;
	font-size: 16px;
}

.formulario #btnRegSesion:hover{
	font-family: 'Metal Mania', cursive;
	background: #FFC300;
	color: #000;
}

